body {
    background-color: #ffeadd;
    margin: 0 auto;
    padding: 0;
    font-family: "Noto Serif";
    top: 0px !important;

}


html {
    scroll-behavior: smooth;
}

.photo_title,
.price_title,
.contact_title {
    font-size: 40px;
    text-align: center;
    color: #664931;
    text-shadow: 0px 0px 20px #b77f51;
}

.photo__width,
.price__width,
.contact__width {
    max-width: 1440px;
    margin: 0 auto;
}
