footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1% auto;
}

.footer__weby {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.footer__weby_logo {
    width: 10%;
}

@media screen and (max-width: 768px) {
    .footer__weby {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 5% auto;
    }

    .footer__weby_logo {
        width: 40%;
        margin: 8% 0%;
    }
}

.footer__link_name {
    color: #664931;
    text-decoration: none;
    font-size: 18px;
    margin: 0.5% 0%;
}

@media screen and (max-width: 768px) {
    .footer__link_name {
        margin: 2% 0%;
    }
}
