.header {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 7% 93%;
    background: linear-gradient(180deg, #f6d5ba 0%, #ffeadd 100%);
    height: 100vh;
}

@media screen and (max-width: 1440px) {
    .header__image_full {
        grid-template-columns: 1fr 1fr;
    }
}

.header__image {
    grid-area: 1 / 2 / 3 / 3;
    z-index: 1000;
}

.header__image_full {
    float: right;
    height: 100%;
}

.header__nav_comp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__nav_link {
    color: #664931;
    font-size: clamp(18px, 1.8rem, 28px);
}

.homeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__text {
    font-size: 28px;
    margin: 0% 0% 0% 10%;
    color: #66493196;
}

.homeContainer__rightLeave,
.homeContainer__leftLeave {
    position: absolute;
}

.homeContainer__rightLeave {
    top: 0;
    left: 0;
}

.homeContainer__leftLeave {
    right: -30%;
    bottom: 0;
}

@media screen and (max-width: 1440px) {
    .homeContainer__leftLeave {
        right: -40%;
    }
}
