.header {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(180deg, #f6d5ba 0%, #ffeadd 100%);
 z-index: -1;
  scroll-behavior: smooth;
}

.header__nav_comp { 
    padding-top: 80px;
  width: 510px;
  display: flex;
  padding-bottom: 285px;
 flex-direction: row;
 gap: 40px;
 margin-left: 10%;
}

.header__nav_link {
  text-decoration: underline;
  color: #664931;
  font-family: "Noto Serif";
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
scroll-behavior: smooth;
}

.homeContainer{
  display: flex;
  flex-direction: row;
  justify-items: end;
  justify-content: space-between;
}

  .header__logo {
    display: flex;
    flex-direction: column;
    text-align: center;
     padding-top: 200px;
  }
 
  .header__logo_image{
    width: 510px;
  } 

.header__text {  
  font-family: "Noto Serif";
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #66493196;
  width: 428px;
}

 .header__image {
  display:flex;
  margin-left: -15%;
} 

.image2 {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
