.photo {
    background-image: url("../images/BgvectorImg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 0 top 140px;
}

.photo_title {
    font-size: 40px;
    text-align: center;
    color: #664931;
    text-shadow: 0px 0px 20px #b77f51;
}

.photo_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
}

@media screen and (max-width: 1100px) {
    .photo_grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 0%;
    }
}

@media screen and (max-width: 768px) {
    .photo_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.photo_img {
    width: 380px;
    height: 380px;
}

@media screen and (max-width: 768px) {
    .photo_img {
        width: 444px;
        height: 444px;
        margin: 5% 0%;
    }
}

@media screen and (max-width: 420px) {
    .photo_img {
        width: 300px;
        height: 300px;
    }
}

.photo_image {
    grid-area: 1/3/3/4;
    width: 444px;
    height: 580px;
}

@media screen and (max-width: 1100px) {
    .photo_image {
        grid-area: 3 / 1 / 4 / 2;
        width: 380px;
    }
}

@media screen and (max-width: 768px) {
    .photo_image {
        grid-area: 5 / 1 / 6 / 2;
        width: 444px;
        margin: 5% 0%;
    }
}

@media screen and (max-width: 420px) {
    .photo_image {
        width: 300px;
        height: 400px;
    }
}

.photo__insta__btn {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 1100px) {
    .photo__insta__btn {
        grid-area: 3 / 2 / 4 / 3;
    }
}

@media screen and (max-width: 768px) {
    .photo__insta__btn {
        grid-area: 6 / 1 / 7 / 2;
    }
}

.photo__insta__link {
    display: flex;
    text-decoration: none;
    background-color: aliceblue;
    width: 444px;
    background: linear-gradient(92.77deg, #ff069c 22.26%, #ff811b 74.28%);
    height: 105px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width: 420px) {
    .photo__insta__link {
        width: 300px;
    }
}

.main__photo_button-mobilelogo {
    width: 89px;
    height: 89px;
}

.photo_button-text {
    color: #ffffff;
    font-size: clamp(24px, 1.2rem, 28px);
    width: 185px;
    cursor: pointer;
    margin-right: 5%;
}

@media screen and (max-width: 420px) {
    .photo_button-text {
        text-align: center;
    }
}
